html, body {
  padding: 0;
  margin: 0;
}
body {
  font: normal normal 16px/1.5 -apple-system, "HelveticaNeue-Light", "Helvetica Neue", "Source Han Sans J", "Source Han Sans", "HiraKakuProN-W3", sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.head {
  position: relative;
  height: 580px;
  color: white;
}
.head h1 {
  font-size: 30px;
  font-weight: 500;
}
.head img {
  width: 215px;
  height: 215px
}
.head-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7 url("bg.jpg") center no-repeat;
  background-size: cover;
  z-index: 0;
}
.head-cover:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.head-wrap {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50%;
  text-align: center;
  z-index: 99;
  box-sizing: border-box;
  padding: 20px 15px;
}
.app-stores {
  text-align: center;
  padding: 10px 10px 30px;
}
.app-stores a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  padding: 12px 0 12px 12px;
  width: 145px;
  font-size: 12px;
  font-weight: 600;
  transition: opacity 0.2s ease;
  box-sizing: border-box;
  margin: 10px 10px 10px 0;
}
.app-stores a:hover {
  opacity: 0.8;
}
.app-stores svg {
  position: absolute;
  left: 10px;
  top: 12px;
  fill: white;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.app-desc {
  padding: 50px 0;
  background: #f3f3f3;
  color: #696966;
}
.app-desc h2 {
  font-size: 24px;
  font-weight: 600;
  color: #232322;
}
.app-desc .container {
  padding: 0 50px;
  width: 50%;
}
.app-phone {
  position: absolute;
  top: 20px;
  right: 60px;
  width: 450px;
  max-width: 50%;
}
.app-phone img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.04));
}
.features {
  clear: both;
  padding: 100px 20px 60px;
}
.features .container {
  max-width: 960px;
  margin: 0 auto;
}
.features .container:after {
  display: table;
  content: "";
  clear: both;
}
.features .cell {
  display: inline-block;
  width: 33.33%;
  float: left;
  padding-right: 36px;
  box-sizing: border-box;
  color: #484846;
}
.features h3 {
  font-size: 18px;
  margin: 26px 0 10px;
  font-weight: 500;
}
.copyright {
  text-align: center;
  color: #969698;
  font-size: 14px;
  padding: 15px;
}
.copyright a {
  text-decoration: none;
  color: #969698;
}

@media (max-width: 800px) {
  .head-wrap {
    width: 100%;
  }
  .app-phone {
    position: static;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .app-phone img {
    width: 400px;
  }
  .app-desc .container {
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
  }
  .app-desc h2 {
    font-size: 20px;
  }
  .features {
    padding-bottom: 0;
  }
  .features .cell {
    display: block;
    width: 100%;
    float: none;
    padding: 0 0 20px;
  }
  .features .cell img {
    width: 100%;
  }
}
