html, body {
  margin: 0;
  padding: 0;
}
body {
  font: normal normal 16px/1.5 -apple-system, "HelveticaNeue-Light", "Helvetica Neue", "Source Han Sans J", "Source Han Sans", "HiraKakuProN-W3", sans-serif;
  height: 100%;
}
.head {
  text-align: center;
  color: #232322;
  padding: 30px 15px 10px;
}
.head p {
  margin: 0;
  color: #484846;
}
.head img {
  width: 80px;
  height: 80px;
  border: 1px solid #f0f0f0;
  border-radius: 14px;
}
.app-stores {
  text-align: center;
  padding: 60px 10px 30px;
}
.app-stores a {
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
  width: 145px;
  font-size: 12px;
  font-weight: 600;
  transition: opacity 0.2s ease;
  box-sizing: border-box;
}
.app-stores a:hover {
  opacity: 0.8;
}
.app-stores svg {
  position: absolute;
  left: 10px;
  top: 10px;
  fill: white;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  color: #969698;
  font-size: 14px;
  padding: 15px;
}
.copyright a {
  text-decoration: none;
  color: #969698;
}
