html, body {
  margin: 0;
  padding: 0;
}
body {
  font: normal normal 16px/1.5 -apple-system, "HelveticaNeue-Light", "Helvetica Neue", "Source Han Sans J", "Source Han Sans", "HiraKakuProN-W3", sans-serif;
  height: 100%;
  background: #f7f7f7;
}
.head {
  text-align: center;
  color: #232322;
  padding: 30px 15px 10px;
}
.head p {
  margin: 0;
  color: #484846;
}
.head img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
.app-stores {
  text-align: center;
  padding: 10px 10px 30px;
}
.app-stores a {
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
  width: 145px;
  font-size: 12px;
  font-weight: 600;
  transition: opacity 0.2s ease;
  box-sizing: border-box;
}
.app-stores a:hover {
  opacity: 0.8;
}
.app-stores svg {
  position: absolute;
  left: 10px;
  top: 10px;
  fill: white;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  color: #969698;
  font-size: 14px;
  padding: 15px;
}
.copyright a {
  text-decoration: none;
  color: #969698;
}
.card-wrap {
  margin: 0 auto;
  max-width: 480px;
  color: #343333;
}
.card-main {
  margin: 0 15px;
  padding: 0;
  background: white;
  border-radius: 5px;
  position: relative;
}
.card-main figure {
  margin: 0;
}
.card-main figure video {
  width: 100%; border-radius: 5px 5px 0 0;
}
.card-main figcaption {
  padding: 15px 15px 30px;
  font-size: 14px;
  min-height: 80px;
}
.card {
  min-height: 50vh;
  background-color: white;
  z-index: 1;
  position: relative;
}
.card, .cards, .cards::after {
  box-shadow: 0px 1px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.cards, .cards::after {
  width: 97%;
  height: 100%;
  content: ' ';
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 1.5%;
  left: 1.5%;
}
.cards::after { z-index: -1; }
