html, body {
  margin: 0;
  padding: 0;
}
body {
  font: normal normal 16px/1.5 -apple-system, "HelveticaNeue-Light", "Helvetica Neue", "Source Han Sans J", "Source Han Sans", "HiraKakuProN-W3", sans-serif;
}
.container {
  max-width: 560px;
  margin: 0 auto;
}
.head {
  text-align: center;
  padding: 30px 25px;
  margin-bottom: 60px;
}
.head:after {
  content: "";
  display: inline-block;
  border-bottom: 3px solid #eee;
  width: 80px;
}
.head h1 {
  margin: 0;
  font-size: 30px;
}
.head p {
  color: #484846;
  font-size: 18px;
}
.copyright {
  text-align: center;
  color: #969698;
  font-size: 14px;
  padding: 15px;
}
.app-item {
  padding: 10px 15px 25px;
  margin-bottom: 30px;
}
.app-logo {
  float: left;
  padding-right: 20px;
}
.app-logo img {
  width: 80px;
  height: 80px;
  border: 1px solid #f0f0f0;
  border-radius: 14px;
}
.app-info {
  overflow: hidden;
}
.app-info a {
  text-decoration: none;
  color: #484846;
  transition: opacity 0.15s ease;
}
.app-info a:hover {
  opacity: 0.76;
}
.app-info h3 {
  margin: 0;
  font-size: 20px;
}
.app-info h3 a {
  color: #232322;
}
.app-info p {
  margin: 5px 0 14px;
}
.app-extra {
  color: #969698;
  font-size: 14px;
}
.app-extra a {
  background: rgba(0, 0, 0, 0.08);
  padding: 1px 6px;
  border-radius: 2px;
  margin-left: 4px;
}
